*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font:"Times New Roman",times;
}
body{
    background-color: black;
    padding: 5%;
    height: 100vh;
    font-family: var(--font), sans-serif;
}
.container{
    max-width: 1550px;
    margin: 0 auto;
}
/* 
*******************************************HEADER**********************************************
*/
header{
    z-index: 100000000;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 30px;
}
#headerBurger{
    z-index: 1000000;
    display: flex;
    background-color: var(--dark);
    box-shadow: 1px 0 5px var(--dark);
    padding: 32px 32px;
    width: 200px;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    right: 0;
    transform: translateX(200px);
    transition: transform 0.6s linear;
}
/* icon burger*/
#burger{
    z-index: 10000000;
    border-radius: 16px;
    border: 1px solid #1a1a1a;
    background: rgba(74, 74, 74, 0.39);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(15px);
    width: 64px;
    height: 64px;
}
#burgerIcon{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
}
.burger_icon {
    width: 28px;
    height: 28px;
    padding: 3px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  
.burger_icon span {
  width: 100%;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: #007aff;
  box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
  transition: transform .4s, background-color .4s, width .4s, opacity .4s;
}

.burger_icon span:nth-child(2) {
  width: 60%;
}

.burgerCroix1{
  background-color: rgb(255, 59, 48) !important;
  transform: translateY(7.5px) rotate(-45deg);
}

.burgerCroix2{
  width: 0;
  opacity: 0;
}

.burgerCroix3{
  background-color: rgb(255, 59, 48) !important;
  transform: translateY(-11px) rotate(45deg);
}
/* 
*******************************************ACCESS**********************************************
*/
.access p{
    color: white;
    margin-right: 16px;
}
.access {
    display: flex;
    align-items: center;
    justify-content: center;
    --hue: 220deg;
    --width: 50px;
    --accent-hue: 22deg;
    --duration: 0.6s;
    --easing: cubic-bezier(1, 0, 1, 1);
}

.togglesw {
display: none;
}

.change {
--shadow-offset: calc(var(--width) / 20);
position: relative;
cursor: pointer;
display: flex;
align-items: center;
width: var(--width);
height: calc(var(--width) / 2.5);
border-radius: var(--width);
box-shadow: inset 10px 10px 10px hsl(var(--hue) 20% 80%),
    inset -10px -10px 10px hsl(var(--hue) 20% 93%);
}

.indicator {
content: '';
position: absolute;
width: 40%;
height: 60%;
transition: all var(--duration) var(--easing);
box-shadow: inset 0 0 2px hsl(var(--hue) 20% 15% / 60%),
    inset 0 0 3px 2px hsl(var(--hue) 20% 15% / 60%),
    inset 0 0 5px 2px hsl(var(--hue) 20% 45% / 60%);
}

.indicator.left {
--hue: var(--accent-hue);
overflow: hidden;
left: 10%;
border-radius: 100px 0 0 100px;
background: linear-gradient(180deg, hsl(calc(var(--accent-hue) + 20deg) 95% 80%) 10%, hsl(calc(var(--accent-hue) + 20deg) 100% 60%) 30%, hsl(var(--accent-hue) 90% 50%) 60%, hsl(var(--accent-hue) 90% 60%) 75%, hsl(var(--accent-hue) 90% 50%));
}

.indicator.left::after {
content: '';
position: absolute;
opacity: 0.6;
width: 100%;
height: 100%;
}

.indicator.right {
right: 10%;
border-radius: 0 100px 100px 0;
background-image: linear-gradient(180deg, hsl(var(--hue) 20% 95%), hsl(var(--hue) 20% 65%) 60%, hsl(var(--hue) 20% 70%) 70%, hsl(var(--hue) 20% 65%));
}

.button {
position: absolute;
z-index: 1;
width: 55%;
height: 80%;
left: 5%;
border-radius: 100px;
background-image: linear-gradient(160deg, hsl(var(--hue) 20% 95%) 40%, hsl(var(--hue) 20% 65%) 70%);
transition: all var(--duration) var(--easing);
}

.button::before, 
.button::after {
content: '';
position: absolute;
top: 10%;
width: 41%;
height: 80%;
border-radius: 100%;
}

.button::before {
left: 5%;
box-shadow: inset 1px 1px 2px hsl(var(--hue) 20% 85%);
background-image: linear-gradient(-50deg, hsl(var(--hue) 20% 95%) 20%, hsl(var(--hue) 20% 85%) 80%);
}

.button::after {
right: 5%;
box-shadow: inset 1px 1px 3px hsl(var(--hue) 20% 70%);
background-image: linear-gradient(-50deg, hsl(var(--hue) 20% 95%) 20%, hsl(var(--hue) 20% 75%) 80%);
}

.togglesw:checked ~ .button {
left: 40%;
}

.togglesw:not(:checked) ~ .indicator.left,
.togglesw:checked ~ .indicator.right {
box-shadow: inset 0 0 5px hsl(var(--hue) 20% 15% / 100%),
    inset 20px 20px 10px hsl(var(--hue) 20% 15% / 100%),
    inset 20px 20px 15px hsl(var(--hue) 20% 45% / 100%);
}
/* 
*******************************************general*********************************************
*/
.flex{
    display: flex;
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.gap{
    gap:32px;
}
img{
    width: 100%;
    height: auto;
}
.bouton{
    margin-top: 32px;
}
.buttonGit{
    padding: 10px;
    text-decoration: none;
    background-color: #007aff;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}


/*
********************************************Swiper**********************************************
*/
.swiper-wrapper{
    width: 90vw;
    height: 90vh;
    margin: 2% auto;
    background-image: url(./image/8012403-gris-fonce-noir-fond-ou-texture-ardoise-gratuit-photo.jpg);
    box-shadow: 0px 0px 10px 4px rgba(95, 95, 95, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(95, 95, 95, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(95,95,95,0.75);
}

.swiper-slide{
    position: relative;
    transition: opacity 0.6s ease;
}
.swiper-content{
    width: 90vw;
    padding: 2%;
}
.swiper-pagination{
    height: 60px;
}
.swiper-pagination-bullet{
    background-color: white;
}
.swiper-pagination-bullet-active{
    background-color: #007aff;
}

/*
***************************************************************************************************
*********************************************PRESENTATION******************************************
***************************************************************************************************
*/

/*
***********************************************Photo***********************************************
*/
.profil{
    width: 45%;
}
.imgProfil{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.coordonnees{
    width: 400px;
}
.civilite{
    width: 90%;
    gap: 32px;
    margin-bottom: 32px;
}
.civilite>h4{
    width: 30%;
    color: white;
    font-size: 24px;
}
.profil a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
address>div{
    margin-bottom: 16px;
}
.picto{
    width: 32px;
    height: 32px;
}

/*
*********************************************Description*******************************************
*/
h1{
    font-size: 48px;
    color: white;
    width: 100%;
}
.description{
    width: 45%;
}
.description p{
    color: white;
    font-size: 16px;
}
.pictoCompet{
    width: 64px;
    height: 64px;
}
ul{
    width: 100%;
}
legend{
    color: #007aff;
    font-size: 20px;
    width: 100%;
}
li{
    color: white;
    font-size: 16px;
    margin-top: 16px;
    width: 30%;
    margin-left: 20px;
}
li::marker{
    color: #ffc0cb;
}

/*
***************************************************************************************************
************************************************PROJETS********************************************
***************************************************************************************************
*/


/*
*******************************************Photo projet********************************************
*/

.divPhoto{
    width: 45%;
    height: 80vh;
    perspective: 300px;
}

.divPhotoGauche img{
    width: 500px;
    height: 350px;
    border-radius:10px;
    cursor: pointer;
    position: absolute;
    border-bottom: 4px solid rgba(0,0,0,.2);
    border-left: 4px solid rgba(0,0,0,.2);
    transition: 0.7s;
}
#photo1{
    z-index: 0;
    left: 10%;
    top: 10vh;
}
#photo2{
    z-index: 1;
    left: 30%;
    top: 20vh;
}
#photo3{
    z-index: 2;
    left: 50%;
    top: 30vh;
}
.divPhotoDroite img{
    width: 500px;
    height: 350px;
    border-radius:10px;
    cursor: pointer;
    position: absolute;
    border-bottom: 4px solid rgba(0,0,0,.2);
    border-left: 4px solid rgba(0,0,0,.2);
    transition: 0.7s;
}
#photo4{
    z-index: 0;
    right: 10%;
    top: 10vh;
}
#photo5{
    z-index: 1;
    right: 30%;
    top: 20vh;
}
#photo6{
    z-index: 2;
    right: 50%;
    top: 30vh;
}
.initGauche{
    transform: rotateY(20deg) rotateX(0deg);
}
.initDroite{
    transform: rotateY(-20deg) rotateX(0deg);
}
.translateGauche{
    transform: translateY(10px) translateX(300px) rotateY(0deg) rotateX(0deg) scale(2);
    z-index:4 !important;
}
.translateDroite{
    transform: translateY(10px) translateX(-300px)  rotateY(0deg) rotateX(0deg) scale(2);
    z-index:4 !important;
}

/*
**************************************textContent****************************************
*/
h2{
    font-size: 48px;
    color: white;
    width: 100%;
}
h3{
    font-size: 24px;
    color: white;
    margin-bottom: 48px;
}

.textContent{
    width: 45%;
    height: 80vh;
    align-content: center ;
}
.textContent p{
    font-size: 16px;
    color: white;
}

.textContent img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}
